<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-content">
      @for (item of items; track item; let last = $last) {
        @if (item.link && !last) {
          <a [routerLink]="item.link">
            @if (item.icon) {
              <i [class]="item.icon"></i>
            }
            {{ item.label }}
          </a>
        }
        @if (!last) {
          <span class="separator">/</span>
        }
        @if (last) {
          <span class="current">{{ item.label }}</span>
        }
      }
    </div>
  </div>
</div>
