<section class="flex w-full md:h-[800px] h-full flex-wrap">
  <div class=" w-full md:p-10 p-5  flex flex-col  items-center justify-between">
    <div class="text-center mb-10 md:mb-0">
      <br>
      <h1 *ngIf="isLoading" class="text-6xl text-center font-bold max-w-2xl leading-relaxed">
        One last step while we verify your email
      </h1>
      <div *ngIf="isSuccess" class="flex flex-col items-center justify-center mb-10">
       <img src="assets/gifs/success.gif">
        <h1  class="text-4xl text-center font-bold max-w-2xl leading-relaxed">
          Account successfully registered
        </h1>
        <p class="text-gray-600">Redirecting...</p>
      </div>

      <div *ngIf="isError" class="flex flex-col items-center justify-center mb-10">
        <h1  class="text-4xl text-center font-bold max-w-2xl leading-relaxed">
          Account could not be verified
        </h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="98" height="98" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-x text-red-500"><path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"/><path d="m14.5 9.5-5 5"/><path d="m9.5 9.5 5 5"/></svg>
        <div class="py-10 flex flex-col items-center">
          <div routerLink="/register" class="p-2.5 bg-accent-500 hover:bg-accent-700 rounded-lg p-2.5 w-40 text-white cursor-pointer" >Try Again</div>
        </div>
      </div>

      <div *ngIf="isLoading" class="py-10 flex flex-col items-center text-black">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-loader-circle text-black animate-spin"><path d="M21 12a9 9 0 1 1-6.219-8.56"/></svg>
      </div>

    </div>

    <div class="h-80 hidden md:block rounded-xl w-full bg-cover bg-center relative overflow-hidden group" style="background-image: url('/assets/images/login.jfif');">
      <!-- Black Overlay -->
      <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl z-30"></div>

      <!-- Text Content -->
      <div class="absolute inset-0 flex items-center justify-center z-30">
        <p class="text-white text-2xl font-semibold text-center px-4 italic font-light">
          "The freshest milk in Zimbabwe since 2012. With 40+ years in the industry, try our delicious range of products."
        </p>
      </div>

      <!-- Zoom Effect on Hover -->
      <div class="absolute hidden md:block  inset-0 bg-cover bg-center transition-transform duration-500 ease-in-out transform scale-100 group-hover:scale-110" style="background-image: url('/assets/images/farm-fresh-card-min.jpg');"></div>
    </div>


  </div>
</section>


