<section class="px-20 max-w-screen-3xl">
  <section class="flex justify-center text-primary-500 p-10 mb-10">
    <div class="relative w-full h-96 flex text-white">
      <!-- Background Image with Gradient Overlay -->
      <img src="assets/images/fruits-min.jpg" class="absolute object-cover overflow-clip h-full w-full rounded-xl hover:scale-105">
      <div class="absolute inset-0 bg-gradient-to-l from-black/90 via-black/80 to-transparent rounded-xl"></div>


       Content Section
      <div class="relative flex flex-col justify-center w-1/2 h-full m-10 z-10">
        <h1 class="text-8xl">
          About Us
        </h1>
        <div class="w-full flex items-start mt-5">
          <button class="bg-accent-500 p-4 rounded-xl flex items-center gap-2 hover:bg-accent-700 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-basket"><path d="m15 11-1 9"/><path d="m19 11-4-7"/><path d="M2 11h20"/><path d="m3.5 11 1.6 7.4a2 2 0 0 0 2 1.6h9.8a2 2 0 0 0 2-1.6l1.7-7.4"/><path d="M4.5 15.5h15"/><path d="m5 11 4-7"/><path d="m9 11 1 9"/></svg>
            <span>Explore Now</span>
          </button>
        </div>
      </div>

      <div class=" relative flex flex-col justify-center items-center py-10 w-full ">
        <h1 class="border border-gray-300 rounded-lg p-2.5  text-nowrap">Our Story</h1>
        <p class="text-start text-2xl max-w-3xl">Yomilk is dedicated to providing premium dairy products made from the freshest farm ingredients.
          Specializing in whole milk Every bottle of milk is pasteurized and homogenized
          to the highest quality standards.

          Yomilk aims to create memorable experiences with every sip,
          showcasing the richness of farm-fresh milk and dairy.</p>
      </div>

    </div>
  </section>



  <div class="my-10">
    <h1 class="text-3xl">Vision and Mission</h1>
    <div class="flex h-full items-center ">
      <div class="w-1/2 h-full ">
        <hr>
        <p class="p-10">
          Vision: By December 2020, Yomilk envisioned becoming the leading provider of dairy-related products across the nation, known for its quality, consistency, and customer trust. Beyond national boundaries, Yomilk aspired to expand its impact throughout the Southern African Development Community (SADC) region, bringing their range of premium dairy products to a broader audience.
        </p>
        <hr>
      </div>


      <div class="w-1/2 flex items-center justify-center">
        <img src="assets/images/delivery_image.jpg" class="h-80 rounded-lg">
      </div>
    </div>

  </div>
  <div class="my-10">

    <div class="flex h-full items-center ">
      <div class="w-1/2 flex items-center justify-center">
        <img src="assets/images/delivery_image.jpg" class="h-80 rounded-lg">
      </div>
      <div class="w-1/2 h-full ">
        <hr>
        <p class="p-10">
          Vision: By December 2020, Yomilk envisioned becoming the leading provider of dairy-related products across the nation, known for its quality, consistency, and customer trust. Beyond national boundaries, Yomilk aspired to expand its impact throughout the Southern African Development Community (SADC) region, bringing their range of premium dairy products to a broader audience.
        </p>
        <hr>
      </div>



    </div>

  </div>
  <div class="my-10">
    <div class="flex h-full items-center ">
      <div class="w-1/2 h-full ">
        <hr>
        <p class="p-10">
          Vision: By December 2020, Yomilk envisioned becoming the leading provider of dairy-related products across the nation, known for its quality, consistency, and customer trust. Beyond national boundaries, Yomilk aspired to expand its impact throughout the Southern African Development Community (SADC) region, bringing their range of premium dairy products to a broader audience.
        </p>
        <hr>
      </div>


      <div class="w-1/2 flex items-center justify-center">
        <img src="assets/images/delivery_image.jpg" class="h-80 rounded-lg">
      </div>
    </div>

  </div>
</section>
