<!--<section [formGroup]="changePasswordForm">-->
<!--  <h1 class="text-3xl my-2.5">Password Settings</h1>-->
<!--  <span>Change Password</span>-->
<!--  <hr>-->
<!--  <br>-->
<!--  <div class="flex items-center gap-5 md:flex-row flex-col">-->
<!--    <div class="pb-5 md:w-1/2 relative">-->
<!--      <label class="text-gray-500" for="oldPwd">Current Password</label>-->
<!--      <input-->
<!--        id="oldPwd"-->
<!--        formControlName="oldPassword"-->
<!--        autocomplete="false"-->
<!--        [type]="showPassword ? 'text' : 'password'"-->
<!--        class="w-full pr-10 py-2 bg-gray-100 rounded-md p-2.5 transition focus:border-gray-300 border focus:ring-0 focus:outline-none"-->
<!--        placeholder=""-->
<!--      />-->
<!--      &lt;!&ndash; Toggle Password Visibility Icon &ndash;&gt;-->
<!--      <button-->
<!--        type="button"-->
<!--        class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 flex items-center justify-center"-->
<!--        (click)="showPassword = !showPassword"-->
<!--        tabindex="-1"-->
<!--      >-->
<!--        <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"-->
<!--             viewBox="0 0 24 24" stroke="currentColor">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />-->
<!--        </svg>-->

<!--        <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"-->
<!--             viewBox="0 0 24 24" stroke="currentColor">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z" />-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M3 3l18 18" />-->
<!--        </svg>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="pb-5 md:w-1/2 relative">-->
<!--      <label class="text-gray-500" for="newPwd">New Password</label>-->
<!--      <input-->
<!--        id="newPwd"-->
<!--        formControlName="newPassword"-->
<!--        autocomplete="false"-->
<!--        [type]="showPassword ? 'text' : 'password'"-->
<!--        class="w-full pr-10 py-2 bg-gray-100 rounded-md p-2.5 transition focus:border-gray-300 border focus:ring-0 focus:outline-none"-->
<!--        placeholder=""-->
<!--      />-->
<!--      &lt;!&ndash; Toggle Password Visibility Icon &ndash;&gt;-->
<!--      <button-->
<!--        type="button"-->
<!--        class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 flex items-center justify-center"-->
<!--        (click)="showPassword = !showPassword"-->
<!--        tabindex="-1"-->
<!--      >-->
<!--        <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"-->
<!--             viewBox="0 0 24 24" stroke="currentColor">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />-->
<!--        </svg>-->

<!--        <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"-->
<!--             viewBox="0 0 24 24" stroke="currentColor">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z" />-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M3 3l18 18" />-->
<!--        </svg>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="flex items-center gap-5 md:flex-row flex-col">-->
<!--    <div class="pb-5 md:w-1/2 relative">-->
<!--      <label class="text-gray-500" for="confirm">Confirm Password</label>-->
<!--      <input-->
<!--        id="confirm"-->
<!--        autocomplete="false"-->
<!--        formControlName="confirmPassword"-->
<!--        [type]="showPassword ? 'text' : 'password'"-->
<!--        class="w-full pr-10 py-2 bg-gray-100 rounded-md p-2.5 transition focus:border-gray-300 border focus:ring-0 focus:outline-none"-->
<!--        placeholder=""-->
<!--      />-->
<!--      &lt;!&ndash; Toggle Password Visibility Icon &ndash;&gt;-->
<!--      <button-->
<!--        type="button"-->
<!--        class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 flex items-center justify-center"-->
<!--        (click)="showPassword = !showPassword"-->
<!--        tabindex="-1"-->
<!--      >-->
<!--        <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"-->
<!--             viewBox="0 0 24 24" stroke="currentColor">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />-->
<!--        </svg>-->

<!--        <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"-->
<!--             viewBox="0 0 24 24" stroke="currentColor">-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z" />-->
<!--          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                d="M3 3l18 18" />-->
<!--        </svg>-->
<!--      </button>-->
<!--      <div *ngIf="changePasswordForm.hasError('passwordsNotMatching')" class="text-red-500">-->
<!--        Passwords do not match.-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="flex items-center justify-end gap-4">-->
<!--    <button-->
<!--      class="rounded-md w-full md:max-w-md  bg-primary-500 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-600 transition"-->
<!--      (click)="changePassword()">-->
<!--&lt;!&ndash;      [disabled]="isLoading || changePasswordForm.invalid"&ndash;&gt;-->

<!--      {{ isLoading ? 'Changing...' : 'Change Password' }}-->
<!--    </button>-->
<!--  </div>-->
<!--  <div *ngIf="errorMessage" class="text-red-500 mt-2">{{ errorMessage }}</div>-->
<!--</section>-->


<section [formGroup]="changePasswordForm" class="max-w-3xl mx-auto p-4">
  <h1 class="text-3xl font-semibold mb-2.5">Password Settings</h1>
  <span class="text-sm text-gray-600">Change Password</span>
  <hr class="my-4" />

  <div class="flex flex-col md:flex-row md:gap-5 gap-4">
    <div class=" w-full md:w-1/2">
      <label class="block text-sm text-gray-600 mb-1" for="oldPwd">Current Password</label>
      <div class="relative">
        <input
          id="oldPwd"
          formControlName="oldPassword"
          autocomplete="false"
          [type]="showPassword ? 'text' : 'password'"
          class="w-full pr-10 py-2 bg-gray-100 rounded-md px-3 border focus:border-gray-300 focus:ring-0 focus:outline-none"
          />
        <button
          type="button"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
          (click)="showPassword = !showPassword"
          tabindex="-1"
          >
          @if (!showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          }

          @if (showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 3l18 18" />
            </svg>
          }
        </button>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <label class="block text-sm text-gray-600 mb-1" for="newPwd">New Password</label>
      <div class="relative">
        <input
          id="newPwd"
          formControlName="newPassword"
          autocomplete="false"
          [type]="showPassword ? 'text' : 'password'"
          class="w-full pr-10 py-2 bg-gray-100 rounded-md px-3 border focus:border-gray-300 focus:ring-0 focus:outline-none"
          />
        <button
          type="button"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
          (click)="showPassword = !showPassword"
          tabindex="-1"
          >
          @if (!showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          }

          @if (showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 3l18 18" />
            </svg>
          }
        </button>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="w-full md:w-1/2">
      <label class="block text-sm text-gray-600 mb-1" for="confirm">Confirm Password</label>
      <div class="relative">
        <input
          id="confirm"
          formControlName="confirmPassword"
          autocomplete="false"
          [type]="showPassword ? 'text' : 'password'"
          class="w-full pr-10 py-2 bg-gray-100 rounded-md px-3 border focus:border-gray-300 focus:ring-0 focus:outline-none"
          />
        <button
          type="button"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
          (click)="showPassword = !showPassword"
          tabindex="-1"
          >
          @if (!showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
            </svg>
          }

          @if (showPassword) {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 3l18 18" />
            </svg>
          }
        </button>
      </div>

      @if (changePasswordForm.hasError('passwordsNotMatching')) {
        <div class="text-sm text-red-500 mt-1">
          Passwords do not match.
        </div>
      }
    </div>
  </div>

  <div class="flex justify-end mt-6">
    <button
      class="rounded-md w-full md:w-auto bg-primary-500 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-600 transition"
      (click)="changePassword()"
      >
      {{ isLoading ? 'Changing...' : 'Change Password' }}
    </button>
  </div>

  @if (errorMessage) {
    <div class="text-red-500 mt-2 text-sm">
      {{ errorMessage }}
    </div>
  }
</section>
