<section class="flex flex-col md:flex-row w-full md:h-[800px] h-[25rem]">
  <div class=" hidden md:block md:w-1/2 w-full md:p-10 flex flex-col  items-center justify-between">
    <div class="text-center flex flex-col items-center">
      <br>
        <h1 class="md:text-6xl text-xl text-center font-bold md:max-w-2xl leading-relaxed">
          Fresh  produce delivered right to your doorstep
        </h1>
        <div class=" py-10 flex flex-col items-center w-full">
          <div class="text-gray-500 text-sm p-2.5">Dont have an account ?</div>
          <div routerLink="/register" class="p-2.5 bg-accent-500 hover:bg-accent-700 rounded-lg p-2.5 w-40 text-white cursor-pointer" >Sign Up</div>
        </div>

      </div>

      <div class="h-80 hidden md:block rounded-xl w-full bg-cover bg-center relative overflow-hidden group" style="background-image: url('/assets/images/fruits-min.jpg');">
        <!-- Black Overlay -->
        <div class="absolute inset-0 bg-black bg-opacity-50 rounded-xl z-30"></div>

        <!-- Text Content -->
        <div class="absolute inset-0 flex items-center justify-center z-30">
          <p class=" text-white text-2xl font-semibold text-center px-4 italic font-light">
            "The freshest milk in Zimbabwe since 2012. With 40+ years in the industry, try our delicious range of products."
          </p>
        </div>

        <!-- Zoom Effect on Hover -->
        <div class="absolute inset-0 bg-cover bg-center transition-transform duration-500 ease-in-out transform scale-100 group-hover:scale-110" style="background-image: url('/assets/images/fruits-min.jpg');"></div>
      </div>


    </div>

    <div class="md:w-1/2 w-full flex items-center p-10 mt-10">
      <div
        class="bg-black rounded-xl h-full p-10 w-full flex items-center justify-center bg-cover relative"
        style="background-image: url('/assets/images/login-main.jpg');">
        <div class="absolute bg-black bg-opacity-50 rounded-xl w-full h-full"></div>

        <!-- Email Form -->
        @if (!isSubmitted) {
          <div class="absolute z-20 md:w-80 w-full bg-white rounded-xl p-5 items-center border border-gray-400 mt-40 md:mt-o">
            <h1 class="py-2.5 w-full text-center text-3xl">Forgot Password</h1>
            <form [formGroup]="emailForm" (ngSubmit)="submitEmail()">
              <div class="pb-5">
                <label class="text-gray-500" for="email">Email</label>
                <input
                  id="email"
                  type="text"
                  formControlName="email"
                  class="w-full pr-10 py-2 bg-gray-100 rounded-md p-2.5 transition focus:border-gray-300 border focus:ring-0 focus:outline-none"
                  placeholder="Email" />
              </div>
              <button class="bg-accent-500 p-2.5 rounded w-full my-5 hover:bg-accent-600 text-white" type="submit" [disabled]="isLoading">
                {{ isLoading ? 'Sending...' : 'Send OTP' }}
              </button>
            </form>
          </div>
        }

        <!-- OTP Form -->
        @if (isSubmitted) {
          <div class="absolute z-20 w-80 bg-white rounded-xl p-5 items-center p-5 items-center border border-gray-400 mt-40 md:mt-0">
            <h1 class="py-2.5 w-full text-center text-3xl">Verify</h1>
            <form [formGroup]="otpForm" (ngSubmit)="submitOTP()">
              <div class="pb-5">
                <label class="text-gray-500" for="otp">OTP</label>
                <input
                  id="otp"
                  type="text"
                  formControlName="otp"
                  class="w-full pr-10 py-2 bg-gray-100 rounded-md p-2.5 transition focus:border-gray-300 border focus:ring-0 focus:outline-none"
                  placeholder="" />
              </div>
              <div class="pb-5">
                <label class="text-gray-500" for="otp">New Password</label>
                <div class="relative">
                  <input
                    id="newPassword"
                    [type]="showPassword? 'text' : 'password'"
                    formControlName="newPassword"
                    class="w-full pr-10 py-2 bg-gray-100 rounded-md p-2.5 transition focus:border-gray-300 border focus:ring-0 focus:outline-none"
                    placeholder="" />
                  <button
                    type="button"
                    class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-600 transition-colors duration-200"
                    (click)="showPassword = !showPassword"
                    tabindex="-1"
                    >
                    @if (!showPassword) {
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                      </svg>
                    }
                    @if (showPassword) {
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18"></path>
                      </svg>
                    }
                  </button>
                </div>
              </div>
              <div class="pb-5">
                <label class="text-gray-500" for="otp">Confirm Password</label>
                <div class="relative">
                  <input
                    id="confirmNewPassword"
                    [type]="showPassword? 'text' : 'password'"
                    formControlName="confirmNewPassword"
                    class="w-full pr-10 py-2 bg-gray-100 rounded-md p-2.5 transition focus:border-gray-300 border focus:ring-0 focus:outline-none"
                    placeholder="" />
                  <button
                    type="button"
                    class="absolute inset-y-0 right-0 flex items-center pr-3 text-gray-400 hover:text-gray-600 transition-colors duration-200"
                    (click)="showPassword = !showPassword"
                    tabindex="-1"
                    >
                    @if (!showPassword) {
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                      </svg>
                    }
                    @if (showPassword) {
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.542-7a9.957 9.957 0 013.153-4.568m3.435-1.747A9.978 9.978 0 0112 5c4.478 0 8.268 2.943 9.542 7a9.953 9.953 0 01-1.149 2.527M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3l18 18"></path>
                      </svg>
                    }
                  </button>
                </div>
              </div>
              @if (errorMessage) {
                <div class="text-red-500">{{ errorMessage }}</div>
              }
              @if (otpForm.hasError('passwordsNotMatching')) {
                <div class="text-red-500">
                  Passwords do not match.
                </div>
              }
              <button class="bg-accent-500 p-2.5 rounded w-full my-5 hover:bg-accent-600 text-white"
                type="submit" [disabled]="otpForm.invalid || isLoading">
                {{ isLoading ? 'Verifying...' : 'Verify OTP' }}
              </button>
            </form>
          </div>
        }
      </div>
    </div>

  </section>

